--- title: O que é o LabHacker? ---
<section class="what-is">

    <header class="masthead -about">
        <div class="container masthead-content">
            <div class="masthead-icon">
                <img class="img" src="assets/img/headers/about-icon.png" alt="sobre">
            </div>
            <h1 class="masthead-title -about">O que é o LabHacker?</h1>
        </div>    
    </header>

    <div class="row">

        <div class="what-is__video-wrapper">
            <div class="container">
                <div class="col-sm-12 col-lg-8 col-lg-offset-2 text-center">
                
                   <div class="what-is__video-container">
                       <iframe class="what-is__video" src="https://www.youtube.com/embed/tYCfywPzzNA" frameborder="0" allowfullscreen></iframe>
                   </div>
                
                </div>
            </div>
        </div>
        
        <div class="container what-is__info-wrapper">
            <div class="what-is__info col-sm-12 font-size-large">
            
                <p>O LabHacker é um espaço para promover o desenvolvimento colaborativo de projetos inovadores em cidadania relacionados ao Poder Legislativo. Criado pela Resolução 49, de 2013, este laboratório dentro da Câmara dos Deputados tem o objetivo de articular uma rede entre parlamentares, hackers e sociedade civil que contribua para a cultura da transparência e da participação social por meio da gestão de dados públicos.</p>
            
                <p>Além de estimular o desenvolvimento de aplicações digitais que permitam a visualização mais intuitiva e simplificada das informações legislativas, o LabHacker promove atividades como maratonas hackers (hackathons), hackdays sobre temas inovadores, e oficinas de criação e discussão com especialistas, parlamentares, estudantes de universidades e escolas públicas, e crianças interessadas em tecnologia.</p>
            
                <p>O laboratório também é responsável pela governança do portal e-Democracia, uma plataforma de participação que amplia a transparência da atividade legislativa e a interação entre os parlamentares e a sociedade.</p>
            
                <p>Qualquer pessoa interessada em projetos de cidadania, especialmente programadores e desenvolvedores de softwares, pode trabalhar livremente no ambiente do LabHacker. Visite-nos no Anexo IV da Câmara, Subsolo, sala 90.</p>    
            
            </div>
        </div>

        <div class="what-is__extra-info-wrapper">
            <div class="what-is__extra-info col-sm-12">
                <div class="extra-info__item extra-info__item--link">
                    <a target="_blank" href="{{assets}}/files/revista_labhacker_2ed.pdf">
                        <div class="extra-info__icon-container">
                            <i class="extra-info__icon fa fa-newspaper-o"></i>
                        </div>
                        <div class="extra-info__info extra-info__info--link">Revista LabHacker</div>
                    </a>
                </div>
            
                <div class="extra-info__item extra-info__item--link">
                    <a target="_blank" href="https://docs.google.com/document/d/10QS7geZm6FpFGhJYNUa8iywQ9_22KNfMMBHI-irfCD8/edit?usp=sharing">
                        <div class="extra-info__icon-container">
                            <i class="extra-info__icon fa fa-users"></i>
                        </div>
                        <div class="extra-info__info extra-info__info--link">Regras de convivência</div>
                    </a>
                </div>
            
                <div class="extra-info__item extra-info__item">
                    <div class="extra-info__icon-container">
                        <i class="extra-info__icon fa fa-envelope-o"></i>
                    </div>
                    <div class="extra-info__info">+55 (61) 3216-6003</div>
                    <div class="extra-info__info">labhacker@camara.leg.br</div>
                </div>
            </div>
        </div>

        <div class="container labhacker-team">
            {{#each contributors }}
                <div class="member-card member-card--{{ slug }}">
                    <div class="member-card__infos">
                        <div class="member-card__picture-wrapper">
                            <img src="{{ photo }}" class="member-card__picture">
                        </div>
                        <span class="member-card__name">{{ name }}</span>
                        <span class="member-card__function">{{ description }}</span>
                    </div>
                    <p class="member-card__bio">
                    <i class="member-card__icon icon icon-{{ icon }}"></i>
                        {{ name }}
                        {{ bio }}
                    </p>
                </div>
            {{/each}}
        </div>

    </div>

</section>
