---
title: Início
---

<section class="blog">
  <div class="container">
    <header>
      <a class="more" href="//blog.labhackercd.net/">+ Ver mais</a>
      <h1>Últimas Notícias</h1>
    </header>
    <div class="row">
      {{#each (first blog 8)}}
      <div class="{{#if @first}}col-md-8{{else}}col-md-4{{/if}}">
        <a href="{{link}}">
          <div class="post-slot" style="background-image: url('{{this.[rss:image].[#]}}');">
            <div class="title">{{title}}</div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="projetos">
  <div class="container">
    <header>
      <h1>Projetos</h1>
    </header>
    <div class="row">
      {{#each projects}}
      <div class="col-md-3">
        <a href="{{{href}}}">
          <div class="project-slot">
            <img src="{{{image}}}" />
            <h3>{{{title}}}</h3>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</section>
