---
title: Início
---

<section class="projetos">
  <div class="container">
    <div class="row">
      {{#each projects}}
      <div class="col-md-3">
        <a href="{{{href}}}">
          <div class="project-slot">
            <img src="{{{image}}}" />
            <h4>{{{title}}}</h4>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="blog">
  <div class="container">
    <header>
      <a class="more" href="//blog.labhackercd.net/">+ Ver mais</a>
      <h1>Últimas Notícias</h1>
    </header>
    <div class="row">
      {{#each (first blog 8)}}
      <div class="{{#if @first}}col-md-8{{else}}col-md-4{{/if}}">
        <a href="{{link}}">
          <div class="post-slot" style="background-image: url('{{this.[rss:image].[#]}}');">
            <div class="title">{{title}}</div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="project-section" id="edemocracia">
  <div class="container">
<div class="row featurette">        
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="assets/img/projects/e_democracia_projeto.png">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">e-Democracia</h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <p class="shortcuts"><a href="https://github.com/labhackercd/edemocracia"><i class="fa fa-github fa-2x"></i></a> | <a href="http://edemocracia.camara.gov.br/"><span class="see">Ver projeto</span></a></p>
        </div>        
      </div>
      <hr class="featurette-divider">
  </div>
</section>

<section class="project-section" id="retorica">
  <div class="container">
<div class="row featurette">        
        <div class="col-md-7">
          <h2 class="featurette-heading">Retórica Parlamentar</h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <p class="shortcuts"><a href="https://github.com/labhackercd/edemocracia"><i class="fa fa-github fa-2x"></i></a> | <a href="http://edemocracia.camara.gov.br/"><span class="see">Ver projeto</span></a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="assets/img/projects/retorica_projeto.png">
        </div>
      </div>
      <hr class="featurette-divider">
  </div>
</section>

