---
title: Início
---

<section class="projetos">
  <div class="container">
    <div class="row">
      {{#each projects}}
      <div class="col-md-3">
        <a href="{{{href}}}">
          <div class="project-slot">
            <img src="{{{image}}}" />
            <h4>{{{title}}}</h4>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="blog">
  <div class="container">
    <header>
      <a class="more" href="//blog.labhackercd.net/">+ Ver mais</a>
      <h1>Últimas Notícias</h1>
    </header>
    <div class="row">
      {{#each (first blog 5)}}
      <div class="{{#if @first}}col-md-8{{else}}col-md-4{{/if}}">
        <a href="{{link}}">
          <div class="post-slot" style="background-image: url('{{this.[rss:image].[#]}}');">
            <div class="title">{{title}}</div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="project-section" id="edemocracia">
  <div class="container">
<div class="row featurette">        
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="assets/img/projects/e_democracia_projeto.png">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">e-Democracia</h2>
          <p class="lead">A proposta do e-Democracia é, por meio da Internet, incentivar a participação da sociedade no debate de temas importantes para o país. Acreditamos que o envolvimento dos cidadãos na discussão de novas propostas de lei contribui para a formulação de políticas públicas mais realistas e implantáveis.</p>
          <p class="shortcuts r"><a href="https://github.com/labhackercd/edemocracia"><i class="fa fa-github fa-2x"></i></a> | <a href="http://edemocracia.camara.gov.br/"><span class="see">Ver projeto</span></a></p>
        </div>        
      </div>
      <hr class="featurette-divider">
  </div>
</section>

<section class="project-section" id="retorica">
  <div class="container">
<div class="row featurette">        
        <div class="col-md-7">
          <h2 class="featurette-heading">Retórica Parlamentar</h2>
          <p class="lead">Visualização da ênfase por temas dos deputados brasileiros durante seus discursos.</p>
          <p class="shortcuts l"><a href="https://github.com/labhackercd/Retorica/tree/integration"><i class="fa fa-github fa-2x"></i></a> | <a href="http://retorica.labhackercd.net/"><span class="see">Ver projeto</span></a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="assets/img/projects/retorica_projeto.png">
        </div>
      </div>
      <hr class="featurette-divider">
  </div>
</section>

<section class="project-section" id="painel">
  <div class="container">
<div class="row featurette">  
		<div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="assets/img/projects/painel_social_projeto.png">
        </div>      
        <div class="col-md-7">
          <h2 class="featurette-heading">Painel Social</h2>
          <p class="lead">O projeto Painel Social consiste em um piloto para a visualização de informações legislativas e de redes sociais. O principal público alvo são os órgãos internos da Câmara dos Deputados, tais como Comissões e Lideranças.</p>
          <p class="shortcuts r"><a href="https://github.com/labhackercd/painel-social/"><i class="fa fa-github fa-2x"></i></a> | <a href="http://painelsocial.labhackercd.net/"><span class="see">Ver projeto</span></a></p>
        </div>        
      </div>
      <hr class="featurette-divider">
  </div>
</section>

<section class="project-section" id="hackathons">
  <div class="container">
<div class="row featurette">         
        <div class="col-md-7">
          <h2 class="featurette-heading">Hackathons</h2>
          <p class="lead">Maratonas que reúnem hackers, programadores, desenvolvedores e inventores para criar projetos que transformem informações de interesse público em soluções digitais, acessíveis a todos os cidadãos.</p>
          <p class="shortcuts l"><a href="/hackathon.html#hackathons"><span><b>Conheça nossos Hackathons</b></span></a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="assets/img/projects/hackatons_projeto.png">
        </div>
      </div>
  </div>
</section>

<section class="project-section" id="mapa">
  <div class="container">
<div class="row featurette">  
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="assets/img/projects/mapa_participativo_projeto.png">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Mapa Participativo</h2>
          <p class="lead">O  projeto Mapa Participativo tem por objetivo desenvolver uma ferramenta que possibilite a navegação visual simplificada por discussões virtuais, facilitando a identificação das principais questões, ideias e argumentos sobre determinado assunto.</p>
          <p class="shortcuts r"><a href="https://github.com/labhackercd/Mapa-Participativo"><i class="fa fa-github fa-2x"></i></a> | <span class="see">Em breve...</span></p>
        </div>        
      </div>
  </div>
</section>

