<section class="about">
  <div class="about__scanlines"></div>
  <div class="about__info">
    <img class="about__logo" src="assets/img/labhacker.png">

    <div class="about__text-container">
        <p class="about__text">
          <span class="text__phrase" data-text="Auxiliamos na implementação de um parlamento aberto">Auxiliamos na implementação de um parlamento aberto<span class="text__blink-dot">&#9646</span></span></span>
        </p>
        <a href="{{ relative page.dest "about.html"}}" class="about__link">Quer saber mais?</a>
    </div>
  </div>

  <div class="about__video" style="display:none">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/tYCfywPzzNA" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="blog">
    <div class="container">
        <header>
            <h1>LabHacker em ideias:</h1>
        </header>
        <div id="blog-posts" class="row">
            <!-- Here goes ajax call from header -->
        </div>
        <div class="more">
            <a class="more__link" href="//blog.labhackercd.net/"><span class="more__text">Veja todas as postagens</span><i class="more__icon fa fa-plus"></i></a>
        </div>
    </div>
</section>

<section class="project-section">
    <div class="container">

        <header>
            <h1>LabHacker em ação:</h1>
        </header>

        {{#each (first projects 3)}}
            <div class="row featurette">
                <div class="col-xs-8 col-xs-push-2 col-md-3 col-md-push-9">
                    <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="{{#if image}}{{{image}}}{{else}}assets/img/logo-labhacker-icon.png{{/if}}">
                </div>

                <div class="col-xs-12 col-md-8 col-md-pull-3"> 
                    <h2 class="featurette-heading">{{{title}}}</h2>
                    <p class="lead">{{{description}}}</p>
                    <p class="shortcuts l">
                    {{#if github}}<a target="_blank" href="{{{github}}}"><i class="fa fa-github fa-2x"></i></a> |{{/if}} {{#if href}}<a target="_blank" href="{{{href}}}"><span class="see">Ver projeto</span></a>{{/if}}
                    </p>
                    <div class="project__categories">
                        {{#each categories}} 
                            <span class="project__category tag--{{hyphenate (lowercase name)}}">{{{name}}}</span> 
                        {{/each}}
                    </div>
                </div>   
            </div>
            <hr class="featurette-divider">
       {{/each}}
       <div class="more">
           <a class="more__link" href="{{ relative page.dest "activities.html"}}"><span class="more__text">Veja todas as nossas atividades</span><i class="more__icon fa fa-plus"></i></a>
       </div>
    </div>

</section>
