<footer class="footer">
  <div class="footer__owner-info">

    <div class="owner-info__item">
      <a href="http://www.camara.leg.br">
        <img class="owner-info__logo" src="{{assets}}/img/logo-camara.svg" data-fallback="{{assets}}/img/logo-camara.png" alt="Logo da Câmara dos Deputados">
      </a>
    </div>

    <div class="owner-info__item">
      <a href="{{ relative page.dest "index.html"}}">
        <img class="owner-info__logo" src="{{assets}}/img/logo-labhacker.svg" data-fallback="{{assets}}/img/logo-labhacker.png" alt="Logo do Labhacker">
      </a>
    </div>

    <div class="owner-info__item">
      <div class="onwer-info__text onwer-info__text--email">labhacker@camara.leg.br</div>
      <a class="onwer-info__text onwer-info__text--phone" href="tel:+556132166003">+55 (61) 3216-6003</a>
    </div>
   
  </div>
  <div class="footer__address">
    <p>Visite-nos no Anexo IV da Câmara dos Deputados, Subsolo, Sala 90</p>
  </div>

  <div class="footer__copyright">
    <p>Todo o conteúdo deste site está publicado sob a licença <a class="copyright__link" href="http://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR">Creative Commons CC BY-SA 4.0</a> Brasil 
      <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR">
        <img class="copyright__logo" src="{{assets}}/img/logo-ccbysa.svg" data-fallback="{{assets}}/img/logo-ccbysa.png" alt="Logo do Creative Commons BY SA">
      </a>
    </p>
  </div>
</footer>
