<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords }}">
<meta name="author" content="{{ site.author }}">

<title>
  {{#is basename "index"}}
    Laboratório Hacker - Câmara dos Deputados
  {{ else }}
    {{ title }} &middot; Laboratório Hacker - Câmara dos Deputados
  {{/is}}
</title>

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<link href="{{ assets }}/css/font-awesome.css" rel="stylesheet">
<link href="{{ assets }}/css/main.css" rel="stylesheet">

<style>pre code { background: transparent; }</style>

<!-- Favicons | Thankfully this generator exists: realfavicongenerator.net -->
<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-touch-icon-57x57.png?v=qAAGg8pBBv">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-touch-icon-60x60.png?v=qAAGg8pBBv">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-touch-icon-72x72.png?v=qAAGg8pBBv">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-touch-icon-76x76.png?v=qAAGg8pBBv">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-touch-icon-114x114.png?v=qAAGg8pBBv">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-touch-icon-120x120.png?v=qAAGg8pBBv">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-touch-icon-144x144.png?v=qAAGg8pBBv">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-touch-icon-152x152.png?v=qAAGg8pBBv">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon-180x180.png?v=qAAGg8pBBv">
<link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png?v=qAAGg8pBBv" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/img/favicon/android-chrome-192x192.png?v=qAAGg8pBBv" sizes="192x192">
<link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png?v=qAAGg8pBBv" sizes="96x96">
<link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png?v=qAAGg8pBBv" sizes="16x16">
<link rel="manifest" href="/assets/img/favicon/manifest.json?v=qAAGg8pBBv">
<link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg?v=qAAGg8pBBv" color="#5bbad5">
<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico?v=qAAGg8pBBv">
<meta name="msapplication-TileImage" content="/assets/img/favicon/mstile-144x144.png?v=qAAGg8pBBv">
<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml?v=qAAGg8pBBv">

<!-- Color theme -->
<meta name="msapplication-TileColor" content="#0b1b31">
<meta name="theme-color" content="#cfe41b">

<!-- App name -->
<meta name="apple-mobile-web-app-title" content="LabHackerCD">
<meta name="application-name" content="LabHackerCD">

<!--[if lt IE 9]><script src="{{ assets }}/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="{{assets}}/js/jquery.js"></script>
<script type="text/javascript" src="{{assets}}/js/bootstrap.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>

<script>
  $(function () {
    count = 0;
    wordsArray = ["Auxiliamos na implementação de um parlamento aberto", "Promovemos ações de transparência legislativa", "Desenvolvemos projetos de participação popular"];
    blinkDot = $('.text__blink-dot');
    setInterval(function () {
      count++;
      $(".text__phrase").fadeOut(0, function () {
        $(this).text(wordsArray[count % wordsArray.length]).append(blinkDot).fadeIn(50);
        $(this).attr('data-text', wordsArray[count % wordsArray.length]);
      });
    }, 6000);
  });
</script>

<script>
  $( document ).ready(function() {
    var is_root = location.pathname == "/" | location.pathname == "/index.html";

    if (is_root) {

      $(window).scroll(function() {
        var aboutHeight = $('.about').outerHeight();
        var scroll = $(window).scrollTop();

        if (scroll > 0) {
          $('.main-nav').addClass('sticked--step-1');
        } else {
          $('.main-nav').removeClass('sticked--step-1');
        }

        if (scroll >= aboutHeight) {
          $('.main-nav').addClass('sticked');

        } else {
          $('.main-nav').removeClass('sticked');
        }

      });

    } else {
        var navHeight = $('.main-nav').outerHeight();
        $('body').css("padding-top", navHeight);
    }
  });
</script>

<script type="text/javascript">
  
  function svgasimg() {
    return document.implementation.hasFeature(
      "http://www.w3.org/TR/SVG11/feature#Image", "1.1");
  }

  if (!svgasimg()){
    var e = document.getElementsByTagName("img");
    if (!e.length){
      e = document.getElementsByTagName("IMG");
    }
    for (var i=0, n=e.length; i<n; i++){
      var img = e[i],
          src = img.getAttribute("src");
      if (src.match(/svgz?$/)) {
        /* URL ends in svg or svgz */
        img.setAttribute("src", 
               img.getAttribute("data-fallback"));
      }
    }    
  }

</script>

<script>
    $(function(){

    // Instantiate MixItUp:

    $('#Container').mixItUp({
      load: {
        filter: '.activities__item'
      },
      controls: {
        toggleFilterButtons: true,
        toggleLogic: 'and'
      },
      animation: {
        animateResizeTargets: true,
        duration: 390,
        effects: 'fade stagger(50ms)',
        easing: 'cubic-bezier(0.445, 0.05, 0.55, 0.95)'
      }
    });
  });

</script>

<script>
  $(document).ready(function(){
    $('.main-nav__mobile-icon').click(function(){
      $(this).toggleClass('active');
    });
  });
</script>

<script>
$.ajax({
  type: "GET",
  url: "http://blog.labhackercd.net/api/posts/?format=json",
  contentType: "application/json",
  crossDomain: true,
  success: function(json) {
     var blog_posts_html = "";
     $.each(json.results, function (key, post) {
       console.log(post.get_absolute_url);
       if (key === 0) {
         var columns = "col-md-8";
       } else {
         var columns = "col-md-4";
       }
       var colors = ['241, 99, 100', '245, 133, 89', '249, 164, 62', '228, 198, 46', '103, 191, 116', '89, 162, 190', '32, 147, 205', '173, 98, 167'];
       var random = Math.floor(Math.random() * colors.length);
       html = `
         <div class="${columns}">
           <a target="_blank" href="http://blog.labhackercd.net${post.get_absolute_url}">
             <div class="blog-post">
               <div class="background-image" style="background: linear-gradient(rgba(${colors[random]}, 0.8), rgba(0,0,0, 0.9)), url('${post.image}') no-repeat center center / cover;"></div>
               <div class="title">${post.title}</div>
             </div>
           </a>
         </div>
       `
       blog_posts_html += html;
     })

     $('#blog-posts').html(blog_posts_html);
     var random = Math.floor(Math.random() * colors.length);      
      $(this).css('background-color', colors[random]);

  },
  error: function (xhr, textStatus, errorThrown) {
      $("#error").html(xhr.responseText);
  }
});

</script>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.ga.id }}']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  });
</script>

<script>
  $( document ).ready(function() {
    var colors = ['#f16364', '#f58559', '#f9a43e', '#e4c62e', '#67bf74', '#59a2be', '#2093cd', '#ad62a7'];
        
    $('.slot').each(function() {
      label = ($(this).find('.title').html()).charAt(0);      
      $(this).find('.circle-label').html(label);      
      var random = Math.floor(Math.random() * colors.length);      
      $(this).find('.circle').css('background-color', colors[random]);
    });
    
    $('.blog-post').each(function() {
    });
    
    var btt_trigger = 680;
  });
</script>
