<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords }}">
<meta name="author" content="{{ site.author }}">

<title>
  {{#is title "Laboratório Hacker"}}
    {{ title }}
  {{ else }}
    {{ title }} &middot; Laboratório Hacker
  {{/is}}
</title>

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<link href="{{ assets }}/css/font-awesome.css" rel="stylesheet">
<link href="{{ assets }}/css/main.css" rel="stylesheet">

<style>pre code { background: transparent; }</style>

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed"
    sizes="144x144" href="{{ assets }}/ico/apple-touch-icon-144-precomposed.png">
<link rel="shortcut icon" href="{{ assets }}/ico/favicon.png">

<!--[if lt IE 9]><script src="{{ assets }}/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="{{assets}}/js/jquery.js"></script>
<script type="text/javascript" src="{{assets}}/js/bootstrap.js"></script>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.ga.id }}']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  });
</script>
