--- component: jumbotron ---

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {{#each carousel }}
    <li data-target="#myCarousel" data-slide-to="{{@index}}" {{#if @first}}class="active"{{/if}}></li>
    {{/each}}
  </ol>
  <div class="carousel-inner" role="listbox">
    {{#each carousel }}
    <div class="item {{#if @first}}active{{/if}} {{#unless background}}lancamento{{/unless}}" {{#if background}}style="background-image: url('{{ background }}');"{{/if}}>
      <div class="container">
        <a target="_blank" href="{{ link }}">
          <div class="carousel-caption">
            <div class="cover">
              {{#if img}}
                <img src="{{ img }}" />
              {{/if}}
            </div>
            <div class="description">
              <h1>{{{ name }}}</h1>
              <p>{{{ description }}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    {{/each}}
  </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <img class="left" src="/assets/img/arrow_header.png" />
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <img class="right" src="/assets/img/arrow_header.png" />
    <span class="sr-only">Next</span>
  </a>

</div>