<nav id="sticker" class="main-nav {{#is basename "index"}}main-nav--home{{/is}} {{#isnt basename "index"}} sticked {{/isnt}}">
  <div class="main-nav__container container">
    <a class="main-nav__link--logo" href="{{ relative page.dest "index.html"}}">
      <img class="main-nav__logo" src="{{assets}}/img/logo-labhacker.svg" data-fallback="{{assets}}/img/logo-labhacker.png" alt="Logo do Labhacker">
    </a>

    <div class="main-nav__mobile-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="main-nav__menu">
      <li class="main-nav__item">
        <a class="main-nav__link {{#is basename "index"}}active{{/is}}"  href="{{ relative page.dest "index.html"}}">Início</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link {{#is basename "about"}}active{{/is}}" href="{{ relative page.dest "about.html"}}">O que é o LabHacker?</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link {{#is basename "activities"}}active{{/is}}" href="{{ relative page.dest "activities.html"}}">Atividades</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link {{#is basename "hackathon"}}active{{/is}}" href="{{ relative page.dest "hackathon.html"}}">Hackathons</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link {{#is basename "calendar"}}active{{/is}}" href="{{ relative page.dest "calendar.html"}}">Agenda</a>
      </li>
      <li class="main-nav__item">
        <a href="//blog.labhackercd.net/" class="main-nav__link">Blog</a>
      </li>
      <li class="main-nav__item main-nav__item--separator"></li>
      <span class="main-nav__social-menu">
        <li class="main-nav__item main-nav__item--social">
          <a  class="main-nav__link main-nav__link--icon main-nav__link--facebook" title="Facebook" href="https://www.facebook.com/LabHackerCD">
            <i class="main-nav__icon fa fa-facebook"></i>
          </a> 
        </li>
        <li class="main-nav__item main-nav__item--social">
          <a  class="main-nav__link main-nav__link--icon main-nav__link--twitter" title="Twitter" href="https://twitter.com/labhackercd">
            <i class="main-nav__icon fa fa-twitter"></i>
          </a> 
        </li>
        <li class="main-nav__item main-nav__item--social">
          <a  class="main-nav__link main-nav__link--icon main-nav__link--youtube" title="YouTube" href="https://www.youtube.com/channel/UC8Fnw6XN_gBDqAHSR4rp0NQ">
            <i class="main-nav__icon fa fa-youtube-play"></i>
          </a> 
        </li>
        <li class="main-nav__item main-nav__item--social">
          <a  class="main-nav__link main-nav__link--icon main-nav__link--flickr" title="Flickr" href="https://www.flickr.com/photos/labhackercd/albums">
            <i class="main-nav__icon fa fa-flickr"></i>
          </a> 
        </li>
        <li class="main-nav__item main-nav__item--social">
          <a  class="main-nav__link main-nav__link--icon main-nav__link--github" title="Github" href="https://github.com/labhackercd">
            <i class="main-nav__icon fa fa-github"></i>
          </a> 
        </li>
      </span>
    </ul>
  </div>
</nav>
